Flask==2.2.5
Flask-SocketIO==3.1.2
Flask-Cors==3.0.8
jsonify==0.5
blinker==1.4
python-engineio==3.12.1
python-socketio==4.5.1
requests==2.31.0
sentry-sdk==1.14.0
virtualenv==20.0.20
python-dotenv==0.13.0
openai==0.27.9
numpy==1.25.2
sentence_transformers==2.2.2
hdbscan==0.8.33
pymongo==4.5.0